.sendLink {
  display: inline-block;
}

.sendLinkInput {
	width: calc(100% - 50px);
	height: 100%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
  vertical-align: middle;
  padding: 13px 14px;
  font-size: 14px;
}
.sendLinkInput:focus {
	border: 1px solid #848484;
}

.sendLinkSubmit {
	background: #ee4832;
	width: 40px;
	height: 40px;
	margin-left: 10px;
  vertical-align: middle;
}