.vipSupport {
  display: inline-block;
}

.vipSupportInput {
	width: calc(100% - 50px);
	height: 100%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
  vertical-align: middle;
  padding: 13px 14px;
  font-size: 14px;
}
.vipSupportInput:focus {
	border: 1px solid #848484;
}

.vipSupportSubmit {
	background: #ee4832;
	width: 40px;
	height: 40px;
	margin-left: 10px;
  vertical-align: middle;
}
.vipSupport label {
	display: block;
	text-align: left;
}
.vipSupport textarea {
	width: calc(100% - 50px);
    height: 100%;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
    vertical-align: middle;
    padding: 13px 14px;
    font-size: 14px;
}